CONNECTIONSTRING= 'postgresql://neondb_owner:npg_6a9UBRGSfvTI@ep-spring-rain-apu26k9a-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
PORT=3000
JWT_SECRET=JLKJFDJFDSKJDJ
JWT_REFRESH_SECRET=KLKFLKLKLJDLKF
NODE_ENV=devlopment
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d